---
import NavItems from "./NavItems.astro"
import UserButton from "../../atoms/UserButton.astro"
import Hamburger from "../../atoms/Hamburger.astro"
---
<nav class="w-full flex items-center justify-center shadow-lg py-6 bg-white">
    <div class="flex w-full h-full items-center px-10">
        <div class="flex-shrink-0">
            <a href="/" class="">
                <img src="/astrojs.svg" alt="Logo" class="size-10">
            </a>
        </div>
        <NavItems/>
        <div class="flex gap-10 lg:gap-6 h-full items-center ">
            <UserButton
                name="Iniciar Sesion"
            />
            <UserButton
                name="Registrarse"
            />
            <Hamburger/>
        </div>
    </div>
    
</nav>