<div class="w-full  flex justify-center">
    <ul class=" gap-14  hidden lg:flex bg-[#F7F7FD] lg:px-36 lg:py-2 lg:rounded-full lg:items-center text-[#3D3D3D] ">
        <li class="lg:hover:text-[#3056D3] lg:hover:cursor-pointer">Inicio</li>
        <li class="lg:hover:text-[#3056D3] lg:hover:cursor-pointer">Beneficios</li>
        <li class="lg:hover:text-[#3056D3] lg:hover:cursor-pointer">Planes</li>
    </ul>
</div>