---
// importar los atoms para pruebas.
// para acceder a esta pagina, usen /test al final de su url local
---
<!-- Aqui es en donde pueden ingresar los Atoms para verificar el como se ven. Pueden modificar cada div a su conveniencia, coloquen el nombre del componente arriba del div.  -->
<!-- Pueden seleccionar lo escrito y presionar cntrl + / para hacer un comentario -->

<div class="w-full min-h-screen bg-black/10 flex flex-col items-center justify-center gap-10">

    <div class="w-full flex justify-center">

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

</div>  
