---

const {Direccion, isLoggedIn} = Astro.props

---
{isLoggedIn ? (
    <div>
      <a class=`text-baseM md:text-base hover:bg-lightAccent hover:border-lightAccent text-white font-medium	 p-3 bg-accent border-2 border-accent rounded-full` href=`${Direccion}` >Dashboard<slot/></a>
    </div>
  ) : (
    <div class="flex gap-5">
      <a class=`text-baseM md:text-base hover:bg-accentBackground hover:border-lightAccent text-accent font-medium	 p-3 bg-background border-2 border-accent rounded-full ` href=`${Direccion}`>Iniciar sesion<slot/></a>
      <a class=`text-baseM md:text-base hover:bg-lightAccent hover:border-lightAccent text-white font-medium	 p-3 bg-accent border-2 border-accent rounded-full` href=`${Direccion}`>Registrate<slot/></a>
    </div>
  )}
  