---
//El link de dashboard necesita ser cambiado cuando tengamos links listos en backend
const { link, isLoggedIn, primary, text } = Astro.props;
---

{
  isLoggedIn === true ? (
      <a
        class="text-center text-baseM md:text-base hover:bg-lightAccent hover:border-lightAccent text-white font-medium px-4 py-2 bg-accent border-2 border-accent rounded-full"
        href={`${link}`}
      >
        Dashboard

      </a>
  ) : primary === true ? (
      <a
        class="text-center text-baseM md:text-base hover:bg-accentBackground hover:border-lightAccent text-accent font-medium px-4 py-2 bg-background border-2 border-accent rounded-full"
        href={`${link}`}
      >
        
        {text ? text: "?"}
      </a>
      ) : 
      <a
        class="text-center text-baseM md:text-base hover:bg-lightAccent hover:border-lightAccent text-white font-medium px-4 py-2  bg-accent border-2 border-accent rounded-full"
        href={`${link}`}
      >
        {text ? text: "??"}
      </a>
}
