---

const {subtitle, Color, textAlign, aditionalClass} = Astro.props

---
<h2 class=`text-lg md:text-xl lg:text-3xl text-${Color} font-bold text-${textAlign} ${aditionalClass}}`>{subtitle}<slot/></h2>