---
const {name} = Astro.props
---
<button class="px-7 py-2 bg-white text-primary font-bold whitespace-nowrap rounded-full border border-primary md lg:hover:bg-primary lg:hover:text-white transition-colors duration-400">
    {name}
</button>